/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


 #export_log {
    background-color: #ffffff;
    width: 75%;
    min-height: 125px;
    max-height: 500px;
    overflow: scroll;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    padding: 7px;
    font-family: monospace;
    scroll-behavior: smooth;
    scroll-snap-align: end;
 }

 #wp-admin-bar-wpmu-client-gen {
    background-color: red !important;
    color: white;
 }

 .form-field .wpmu-client {
   max-width: 25em;
 }

 .form-table {
   max-width: 100vw;
 }

 .long-field {
  width: 90%;
 }

 .target_selector {
  display: block;
  position: relative;
  min-width: 200px;
  max-width: 500px;
  animation-duration: 200ms;
  background-color: #ffffff;
  padding: 5;
 }

 .target_selector li {
  border: 1px solid #8c8f94;
  padding: 10px 20px;
  margin: 0;
 }

 .target_selector li:hover {
  background-color: #dedede;
  font-weight: 500;
 }

 th#edit, th#delete {
  width: 7%;
 }

 .table-buttons {
  background-color: var(--e-context-primary-color);
  color: #fff;
  padding: 7px 10px;
  border-radius: 3px;
 }

 #delete_redirect {
  background-color: red;
 }

 .table-buttons:hover {
  color: #fff;
  opacity: .9;
 }
